<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="./assets/style/all.css">

  <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="row">
          <div class="txt">
            <p>Here’s</p>
            <h1 class="italic">JOANNE</h1>
            <p>Founder of ‘’XXXD Official’’<br> & Graphic Designer</p>
            <ul class="flex">
              <li><a href="#"><img src="./assets/images/behance.svg" alt="Behance"></a></li>
              <li><a href="#"><img src="./assets/images/facebook.svg" alt="Facebook"></a></li>
              <li><a href="#"><img src="./assets/images/instagram.svg" alt="IG"></a></li>
              <li><a href="#"><img src="./assets/images/youtube.svg" alt="YouTube"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <%- contents %>


    <footer class="contact">
      <div class="txt italic">
        <h2>Contact</h2>
        <ul>
          <li><a href="mailto:xxxd@hexschool.com" class="text-white">Mail：xxxd@hexschool.com</a></li>
          <li><a href="tel:0910123456" class="text-white">Phone Number：0910123456</a></li>
        </ul>
      </div>
    </footer>
  </div>



  <script src="./assets/js/all.js"></script>
</body>

</html>
