*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

body {
     font-family: 'Roboto',sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}