html {
    font-size: 10px;
    @include pad {
        font-size: 8px;
    }
}


p {
    font-size: 2.4rem;
    line-height: 4.2rem;
}

.flex {
    display: flex;
}

.italic {
    font-style: italic;
}


.wrapper {
    background-color: #fff;
}

.container {
    margin: 0 auto;
    height: 100%;
}

.row-w {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.txt {
    h2 {
        font-size: 6.4rem;
        line-height: 7.5rem;
    }
}

header {
    background-image: url('../../assets/images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 96rem;
    color: $textSecondary;

    .txt {
        font-weight: bold;

        p:nth-of-type(2) {
            margin-bottom: 6.4rem;
        }

    }

    h1 {
        font-size: 8rem;
        line-height: 9.4rem;
        margin-bottom: 3.2rem;
    }

    li {
        margin-right: 1.6rem;

        &:last-child {
            margin-right: 0;
        }
    }

}

section.about {
    text-align: center;
    font-weight: 900;
    padding-top: 6.4rem;
    padding-bottom: 5.6rem;

    h2 {
        margin-bottom: 4rem;
        font-weight: 500;
    }

    img {
        width: 38.4rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.4rem;
    }

    p {
        margin-bottom: 0.8rem;
    }

    p:last-of-type {
        margin-bottom: 3.2rem;
        line-height: 3.6rem;
    }

    ul {
        padding-top: 3.4rem;
        border-top: 1px solid $textPrimary;

        li {
            position: relative;
            margin-bottom: 3.2rem;
            font-size: 2.4rem;
            line-height: 4.2rem;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: '';
                position: absolute;
                width: 22px;
                height: 22px;
                top: 1rem;
                border-radius: 50%;
                background-color: $primaryColor;
                margin-left: -3.7rem;

            }
        }
    }
}

section.brand {
    background-color: $textPrimary;
    color: $textSecondary;
    padding-top: 6.4rem;
    padding-bottom: 16rem;
    text-align: center;
    font-weight: 500;

    h2 {
        margin-bottom: 1.6rem;
    }

    p {
        margin-bottom: 3.2rem;
    }

    ul {
        margin-bottom: 4.8rem;
    }

    li {
        font-size: 2rem;
        line-height: 4.2rem;


    }

    ul.tShirt {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;

        li {

            &:first-child {
                margin-bottom: 4rem;
            }

            &:nth-child(2) {
                margin-bottom: 4rem;
            }

            @include sm {
                &:nth-child(2) {
                    width: calc(50% - 1.2rem);
                    margin-right: 2.4rem;
                    margin-bottom: 0rem;
                }

                &:nth-child(3) {
                    width: calc(50% - 1.2rem);
                }
            }
        }

    }
}

section.otherWorks {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center bottom;

    @include llg {
        background-size: cover;
    }

    h2 {
        margin-bottom: 2.4rem;
        margin-top: 6.4rem;


        &+p {
            font-size: 2rem;
            margin-bottom: 4.8rem;
        }
    }

    .otherBlock {
        font-weight: 500;

        ul {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 10.4rem;

            @include pad {
                justify-content: center;
            }
        }

        li {
            margin-bottom: 5.6rem;

            @include iphone {
                &:nth-child(-n+4) {
                    p {
                        color: $textPrimary;
                    }
                }

            }
        }

        a {
            text-decoration: none;
            color: $textPrimary;
        }

        img {
            margin-bottom: 1.6rem;
        }

        p {

            font-size: 2rem;
            line-height: 4.2rem;
            font-weight: 500;
        }
    }

}

footer.contact {
    background-color: $textPrimary;
    color: $textSecondary;
    padding-top: 64px;
    padding-bottom: 80px;
    text-align: center;

    h2 {
        margin-bottom: 1.6rem;
    }

    li {
        font-size: 2.4rem;
        line-height: 3.6rem;

        &:first-child {
            margin-bottom: 1.6rem;
        }

        a {
            color: white;
        }
    }
}